<!DOCTYPE html>
<html>
  <head>
    <title>NestBuddies</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      Logged in as <strong><%= current_user.email %></strong>.
      <%= link_to 'Edit profile', edit_user_registration_path %> |
      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
      <% requests = Connection.requests_for(current_user.id) %>
      <h3>Buddy requests (<%= requests.count %>)</h3>
      <ul>
        <% requests.each do |request| %>
          <li><%= request.user.email %> <%= link_to("Accept", accept_request_path(request.user.id), method: :put) %> <%= link_to("Decline", decline_request_path(request.user.id), method: :delete) %></li>
        <% end %>
      </ul>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path %> |
      <%= link_to "Login", new_user_session_path %>
    <% end %>

    <%= yield %>
  </body>
</html>
